{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>propertytrack Homepage</title>
    <link rel="stylesheet" href="{% static 'propertytrack/styles.css' %}">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="{% static 'propertytrack/logo_90.jpg' %}" alt="Logo">
        </div>
        <div class="user-info">
            <span>{{ request.user.username }}</span>
            <form action="{% url 'agents:logout' %}" method="post" style="margin: 0; margin-left: 20px;">
                {% csrf_token %}
                <button type="submit">Log out</button>
            </form>
        </div>
    </div>   

    <div class="content">
        <a href="{% url 'propertytrack:rental_create' %}">
            <button>Add Property</button>
        </a>

        <a href="{% url 'propertytrack:rental_list' %}">
            <button>List of Rentals</button>
        </a>

        <a href="{% url 'propertytrack:completed_inspections' %}">
            <button>Completed Inspections</button>
        </a>
    </div>

    
</body>
</html>