{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Property Details</title>
    <link rel="stylesheet" href="{% static 'propertytrack/styles.css' %}">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="{% static 'propertytrack/logo_90.jpg' %}" alt="Logo">
        </div>
        <div class="user-info">
            <span>{{ request.user.username }}</span>
            <form action="{% url 'agents:logout' %}" method="post" style="margin: 0; margin-left: 20px;">
                {% csrf_token %}
                <button type="submit">Log out</button>
            </form>
        </div>
    </div>
    

    
    <h1>{{ rental.address }}</h1>
    <p>${{ rental.rent_amount }}</p>
    
    <a href="{% url 'propertytrack:rental_update' rental.id %}"><button>Edit</button></a>
    <a href="{% url 'propertytrack:inspection_create' rental.id %}"><button>Create Inspection</button></a>
    <a href="{% url 'propertytrack:rental_list' %}"><button>Back</button></a>
    <a href="{% url 'propertytrack:inspection_list' rental.id %}"><button>View Inspections</button></a>
    <a href="{% url 'propertytrack:in_inspection' rental.id %}"><button>In Inspection</button></a>
</body>
</html>